* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:'Roboto Serif', Georgia, Times, serif;
}

header {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: #2c4f6f;
  justify-content: center;
  font-size: 1.6em;
  color: #ebffffce;
}

#title {
  display:flex; 
  justify-content: center;
  margin: 25px;
}

nav {
  display: flex;
  justify-content: center;
  width: 50%;
}

nav ul {
  list-style-type: none;
}

main {
  display: flex;
  width: 100vw;
}

.posts {
  display: flex;
  flex-direction: column;
  
}

.posts .post:first-child {
  border: 2px solid red;
  grid-column: span 2; /* Ocupa duas colunas */
  grid-row: span 1; /* Ocupa uma linha */
}

.posts .post:nth-child(2) {
  border: 2px solid red;
}

article {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}

.posts article:not(:first-child) {
  grid-column: span 1; /* Os artigos restantes ocupam uma coluna cada */
  grid-row: span 1; /* Ocupam uma linha cada */
}



a {
  width: fit-content;
  text-decoration: none;
  color: inherit;
}